:root {
    --ft-primary: #F0A500;
    --ft-primary-dark: #CF7500;
    --bg-primary: #1F2022;
}

body {
    font-family: 'Roboto Slab';
    font-size: 1.4em;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ft-color);
    background-color: var(--bg-color);
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    font-weight: 500;
}

section::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -25px;
    bottom: -100px;
    left: 50%;
    border: 50px solid transparent;
    border-color: transparent transparent var(--bg-color) var(--bg-color);

    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, .25);
}

section .content {
    width: 80%;
}

section .columns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

section .columns > * {
    flex: 1 1 0px;
}

/**
 *  Section #title
 */
#title::before {
    content: '';
    background-image: url(../assets/images/micro.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .72;
}

#title {
    --bg-color: #1F2022;
    --ft-color: #F0A500;
    min-height: 100vh;
    z-index: 10;
    text-align: center;
}

#title h1 {
    margin: 0;
    font-size: 12rem;
    line-height: 14rem;
    font-family: 'alina-regular';
    font-weight: normal;
}

#title #subtitle {
    margin: 0;
}

/**
 * Section #brief
 */
#brief {
    --bg-color: #F0A500;
    --ft-color: #1F2022;
    min-height: 100vh;
    z-index: 9;
}

#brief::before {
    content: '';
    background-image: url(../assets/images/rotated-notepad.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

#brief p {
    margin: 2em 0;
}

#brief strong {
    color: #CF7500;
}

/**
 * Section #problem
 */
#mockup {
    --bg-color: white;
    --ft-color: #1F2022;
    min-height: 100vh;
    z-index: 8;
}

