body {
    font-family: 'Roboto Slab';
    font-size: 1.4em;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
    color: var(--ft-color);
    background-color: var(--bg-color);
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    font-weight: 500;
}

section:not(:last-of-type)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -50px;
    bottom: -100px;
    left: 50%;
    border: 50px solid transparent;
    border-color: transparent transparent var(--bg-color) var(--bg-color);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, .25);
}

section .content {
    width: 80%;
}

section .columns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

section .columns > * {
    flex: 1 1 0px;
}

@media screen and (max-width:1000px) {
    section .columns {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    section .content {
        width: 100%;
    }

    section {
        padding: 6em 1em;
    }
}

/**
 *  Section #title
 */
#title::before {
    content: '';
    background-image: url(../assets/images/micro.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .72;
}

#title {
    --bg-color: #1F2022;
    --ft-color: #F0A500;
    min-height: 100vh;
    z-index: 10;
    text-align: center;
}

#title h1 {
    margin: 0;
    font-size: 12rem;
    line-height: 14rem;
    font-family: 'alina-regular';
    font-weight: normal;
}

#title #subtitle {
    margin: 0;
}

/**
 * Section #brief
 */
#brief {
    --bg-color: #F0A500;
    --ft-color: #1F2022;
    min-height: 100vh;
    z-index: 9;
}

#brief::before {
    content: '';
    background-image: url(../assets/images/rotated-notepad.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

#brief p {
    margin: 2em 0;
}

#brief strong {
    color: #CF7500;
}

/**
 * Section #mockup
 */
#mockup1 {
    --bg-color: white;
    --ft-color: #1F2022;
    min-height: 100vh;
    z-index: 8;
}

#mockup1::before {
    content: '';
    background-image: url(../assets/images/record-smartphone.png);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

#mockup1 strong {
    color: #CF7500;
}

#mockup2 {
    --bg-color: white;
    --ft-color: #1F2022;
    min-height: 100vh;
    z-index: 8;
}

#mockup2::before {
    content: '';
    background-image: url(../assets/images/stat-smartphone.png);
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

#mockup2 strong {
    color: #CF7500;
}

/**
 * Section #stats
 */
#stats {
    --bg-color: #1F2022;
    --ft-color: #F0A500;
    min-height: 100vh;
    z-index: 7;
    text-align: center;
}

#stats .columns {
    text-align: left;
}

#stats .columns > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stats .columns > *:first-child {
    padding-right: 7rem;
}

#stats #speech-piechart {
    max-width: 30vw;
    margin: 3rem auto;
}

@media screen and (max-width: 1000px) {
    #stats #speech-piechart {
        max-width: 70vw;
    }

    #stats .columns > *:first-child {
        padding-right: 0;
    }
}

/**
 * Section #platform
 */
#platform {
    --bg-color: #CF7500;
    --ft-color: #FFBD00;
    text-align: center;
    z-index: 6;
}

.line {
    display: flex;
    flex-direction: column;
}

.line .logo {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.middle {
    align-items: center;
    justify-content: space-between;
}

.left {
    padding-top: 20px;
    align-items: flex-end;
}

.right {
    padding-top: 20px;
    align-items: flex-start;
}

@media screen and (max-width: 1000px) {
    .arrow {
        display: none;
    }

    #platform .columns > *:nth-child(1) {
        order: 2;
    }
    #platform .columns > *:nth-child(2) {
        order: 1;
    }
    #platform .columns > *:nth-child(3) {
        order: 3;
    }
    .right, .left { 
        padding-top: 0;
        align-items: initial;
    }
}

/**
 * Section #form
 */
#form-section {
    display: flex;
    --bg-color: white;
    --ft-color:#CF7500;
    z-index: 5;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10vw;
}

#form-section .content {
    max-width: 800px;
}

#form-section label {
    color: var(--ft-color);
}

#form-title {
    color: var(--ft-color);
    align-self: flex-start;
    margin: 200px 0 100px 0;
    font-size: 2rem;
    min-width: 25vw;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: solid 2px var(--ft-color);
}

#form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--ft-color);
    width: 100%;
    max-width: 800px;
}

.rating {
    margin: 15px 0px ;
    display: flex;
    justify-content: space-between;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.radio-text {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.radio-text label {
    padding-left: 15px;
}

.radio-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rating::before {
    font-size: small;
    content: "pas du tout";
    align-self: center;
}

.rating::after {
    font-size: small;
    content: "absolument";
    align-self: center;
}

/* var */
footer {
    --bg-color: #1F2022;
    --ft-color: #E5E5E5;
}

footer {
    background-color: var(--bg-color);
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 8vw;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-size: 0.8em;
    color: var(--ft-color);
}

#media-img-container, #media-info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#media-info-container {
    width: 30%;
    align-items: center;
}

#media-img-container a {
    display: flex;
    margin: 0 10px;
    max-height: 25px;
    max-width: 25px;
    height: auto;
    width: 1.5vw;
}

.submit {
    background-color: var(--ft-color);
    color: whitesmoke;
    height: auto;
    width: 100px;
    align-self: flex-end;
}
